#FOLDERS
HTML/
docs/
libs/
dropzone-5.7.0/
dist/
HTML/assets/images
HTML/assets/js
HTML/assets/plugins
HTML/assets/scss
core/
languages/
plugins/
themes/
node_modules/
master/
php/mailchimp
php/php-mailer
php/simple-php-captcha
php/tweet-php
vendor/
video/
js/
css/demos
css/fonts
css/skins
ajax/
img/
#FILES EXTENSION
*.log
*.json
.DS_Store
*.jpg
*.svg
*.png 
*.txt
